<div class="grid-container">
  <h2><strong>24‑column</strong> grid test</h2>
  <p><small>Responsive layout: L=24cols, M=12cols, S=6cols, XS=3cols</small></p>

  <h3>24 boxes</h3>
  <div class="grid-24 demo-grid">
    <% 24.times do |i| %>
      <div class="demo-box span-24-1"><%= i + 1 %></div>
    <% end %>
  </div>
</div>

<section style="background-color:rgb(220, 220, 220); width: 100%;">
<div class="grid-container">

  <h3>12 boxes</h3>
  <div class="grid-24 demo-grid">
    <% 12.times do |i| %>
      <div class="demo-box span-3"><%= i + 1 %></div>
    <% end %>
    <div class="demo-box  span-3 span-l-12 span-m-12 span-s-6">rest</div>
  </div>
</div>

</section>

