/* Layout - Page Structure & Layout Components */
/* =========================================== */

/* Layout Components */
.section-full-width { width: 100%; }

.bg-light-gray { background: var(--gray-50); }

/* Hero Section - Desktop Only */
.hero {
    background: var(--flx-radial-gradient-red);
}

.hero-container {
    position: relative;
    min-height: 360px;
    width: var(--grid-width);
    margin: 0 auto;
}

.hero-content {
    position:relative;
    color: white;
    padding: calc(2rem + 45px) 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index:1; 
}

.hero-background {
    position:absolute;
    top:0;
    left: -24px;
    right: -24px;
    height: 45px;
    background-image: url(/assets/hero-swosh-white-mobile.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: stretch;

}

@media (min-width: 628px) {
    .hero-background {
        left: -48px;
        right: -48px;
    }
}

@media (min-width: 900px) {
    .hero-container {
        min-height: 560px;
    }
    
    .hero-content {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        padding: 2rem calc(50% + 8rem) 2rem 0;
        
    }
    
    .hero-background {
        position:absolute;
        width: auto;
        height: auto;
        top: 0;
        left: max(0px, calc(50% - 408px));
        right: 0;
        bottom: 0;
        z-index:0;
        background-image: url(/assets/hero-image.svg);
        background-position: left top;
    
    }
}

