<div class="h-32 flex flex-col items-center justify-center cursor-pointer group ">
  <%= image_tag "icons/categories/#{category[:icon]}", alt: category[:name], class: "w-full h-full object-cover" %>
</div>